{$SITE_ADDRESS} {
	encode gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}
	request_body {
		max_size 22MB
	}
	reverse_proxy frontend:8080
}
